# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data = pd.read_csv("output_data/clean_city_data.csv", dtype="object")

# Visualize
city_data = pd.DataFrame(city_data)
city_data.head()

,Unnamed: 0,city,country,temp,latitude,longitude,cloudiness,humidity,wind speed
0,0,Kaitangata,NZ,54.0,-46.28,169.85,26,59,3.0
1,1,Saint Paul Harbor,US,73.4,57.79,-152.41,40,46,9.17
2,2,Mataura,NZ,50.4,-46.19,168.86,100,78,3.33
3,3,Gravdal,NO,53.38,68.12,13.5,96,72,2.64
4,4,Acajutla,SV,70.0,13.59,-89.83,100,97,3.22

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [4]:
locations = city_data[["latitude", "longitude"]].astype(float)
weight = city_data['humidity']

In [5]:
fig = gmaps.figure(center=(0,0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
city_data['temp'] = city_data['temp'].astype(float)
city_data['cloudiness'] = city_data['cloudiness'].astype(float)
city_data['wind speed'] = city_data['wind speed'].astype(float)

In [7]:
Perfect_Weather = city_data.loc[(city_data['temp'] >=68) & (city_data['temp'] <= 78) &
                                (city_data['cloudiness'] <=5 ) & 
                                (city_data['wind speed'] <= 10)]

Perfect_Weather

,Unnamed: 0,city,country,temp,latitude,longitude,cloudiness,humidity,wind speed
13,13,Mitchell,US,75.20,43.71,-98.03,1.0,69,6.93
47,50,Albany,US,73.31,42.6,-73.97,3.0,89,4.81
52,55,Ilhabela,BR,68.72,-23.78,-45.36,0.0,57,3.47
81,85,Sterling,US,76.03,39.01,-77.43,1.0,88,4.70
83,87,Alta Floresta,BR,70.03,-9.88,-56.09,0.0,54,5.03
90,94,Oktyabr'skoye,RU,75.09,43.06,44.74,1.0,57,8.95
91,95,Capoterra,IT,68.99,39.18,8.97,0.0,88,5.82
101,105,Bodrum,TR,72.46,37.04,27.43,0.0,60,3.36
130,136,Jalu,LY,71.92,29.03,21.55,0.0,64,8.55
152,162,Westport,US,77.99,41.14,-73.36,1.0,51,8.05
163,173,Lagoa,PT,68.20,39.05,-27.98,0.0,70,2.46
173,184,Hamilton,US,77.49,39.18,-84.53,1.0,88,3.89
186,198,Isfahan,IR,71.60,32.66,51.68,0.0,21,4.70
200,212,Marrakesh,MA,69.80,31.63,-8.01,0.0,77,8.05
255,271,Russell,US,75.60,32.35,-85.2,1.0,83,3.96
256,272,Talaya,RU,73.45,61.38,152.75,0.0,32,4.85
260,276,Assiut,EG,73.40,27.18,31.18,0.0,38,9.17
276,294,Marsá Maţrūḩ,EG,69.80,31.35,27.25,0.0,88,9.98
288,307,Bethel,US,72.12,41.37,-73.41,1.0,83,4.29
292,311,Omsukchan,RU,71.58,62.53,155.8,0.0,33,6.20
314,333,Caravelas,BR,69.10,-17.71,-39.25,0.0,88,5.50
341,361,Ashland,US,71.10,40.82,-82.27,1.0,73,3.36
345,365,Cobija,BO,73.98,-11.03,-68.77,0.0,68,2.19
370,391,Dumfries,US,77.94,38.57,-77.33,1.0,69,5.55
384,405,Constantine,DZ,68.00,36.37,6.61,0.0,64,1.90
435,457,Morrisburg,CA,68.23,44.9,-75.18,1.0,64,5.82
454,478,Iglesias,IT,68.90,39.31,8.54,0.0,88,5.82
457,481,Athens,GR,74.77,37.98,23.72,0.0,57,6.93
467,491,Kiryat Gat,IL,73.35,31.61,34.76,1.0,66,3.13
469,494,Siderno,IT,74.17,38.28,16.3,5.0,88,4.70
472,497,Saint Lawrence,MT,71.10,36.06,14.2,0.0,94,3.36
477,502,Huicungo,PE,68.94,-7.28,-76.8,4.0,94,1.72
483,508,Carutapera,BR,73.33,-1.2,-46.02,4.0,91,3.00
487,513,Scranton,US,68.45,41.41,-75.66,1.0,73,3.36
502,528,Dukat,RU,69.08,62.55,155.55,0.0,35,7.85
507,535,Mayo,US,75.31,38.89,-76.51,1.0,78,7.40
510,538,Bowling Green,US,77.09,36.99,-86.44,1.0,74,2.35

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
#hotel_info = [info_box_template.format(**row) for index, row in Perfect_Weather.iterrows()]
#locations = Perfect_Weather[["latitude", "longitude"]]

In [9]:
Perfect_Weather["Hotel Name"] = ""
Perfect_Weather.head()

C:\Users\eceka\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,city,country,temp,latitude,longitude,cloudiness,humidity,wind speed,Hotel Name
13,13,Mitchell,US,75.20,43.71,-98.03,1.0,69,6.93,
47,50,Albany,US,73.31,42.6,-73.97,3.0,89,4.81,
52,55,Ilhabela,BR,68.72,-23.78,-45.36,0.0,57,3.47,
81,85,Sterling,US,76.03,39.01,-77.43,1.0,88,4.70,
83,87,Alta Floresta,BR,70.03,-9.88,-56.09,0.0,54,5.03,

In [10]:
# create a params dict that will be updated with new city each iteration
params = {"radius": 5000,
          "types": "hotel",
          "keyword": "hotel",
          "key": gkey}

for index, row in Perfect_Weather.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 
    
    # Use the search term: "Hotel and and lat/lng
   
    # get lat, lng from df
    lat = row["latitude"]
    lng = row["longitude"]
    
    params["location"] = f"{lat},{lng}"   

    # make request and print url
    hotel_data = (requests.get(base_url, params=params)).json()
    
    try:
        print(hotel_data["results"][0]["name"]) 
        Perfect_Weather.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing")

Comfort Inn & Suites

C:\Users\eceka\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Missing
Hotel Ilhabela
Hampton Inn & Suites Washington-Dulles International Airport
Floresta Amazonica Hotel
Aleksandrovskiy
Hotel Santa Gilla
Caresse, a Luxury Collection Resort & Spa, Bodrum
Jalu Hotel
Hilton Garden Inn Norwalk
Graciosa Resort - Biosphere Island Hotel
Missing
Abbasi Hotel
Sofitel Marrakech Lounge & Spa
Missing
Missing
Florence Hotel Assiut
Beau Site
Courtyard by Marriott Danbury
Sberbank Rossii
Mar Doce de Abrolhos
Hampton Inn & Suites Ashland
Brasiléia Palace Hotel
Holiday Inn Express Dumfries
Constantine Marriott Hotel
McIntosh Country Inn & Conference Centre
Corte Rubja Hotel Giardino
Athens Marriott Hotel
Desert Gat
Grand Hotel President
Kempinski Hotel San Lawrenz Malta
Missing
HOTEL R. SOARES
Radisson Lackawanna Station Hotel Scranton
Missing
Missing
Hyatt Place Bowling Green

In [18]:
Hotel_list = Perfect_Weather['Hotel Name'].replace('', np.nan, inplace=True)
Hotel_list = Hotel_list.dropna(subset=['Hotel Name'], inplace=True)
Hotel_list

AttributeError: 'NoneType' object has no attribute 'dropna'

In [19]:
locations = Perfect_Weather[["latitude", "longitude"]].astype(float)

In [21]:
markers = gmaps.marker_layer(locations)

fig = gmaps.figure(center=(0,0), zoom_level=2)
fig.add_layer(heat_layer)
fig.add_layer(markers) 
fig
plt.savefig('Map: Hotel Locations.png')
fig

Figure(layout=FigureLayout(height='420px'))